<div class="content" style="float: none;">

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @purpose.name %>
</p>


<%= link_to 'Edit', edit_purpose_path(@purpose) %> |
<%= link_to 'Back', purposes_path %>
</div>
