<style type="text/css" media="screen">
	#gotoSite {
		cursor: hand;
	}
</style>

<div class='mftSaved' style="">
  <a target="_blank"><img id="gotoSite" src="/assets/mft_go_to_site.png"/></a>
</div>
<script>
 $("#gotoSite").click(function(){
   window.open("http://fabtab.com/assets/home.png", "_newtab");
 });
</script>
