
<table border="0" cellspacing="5" cellpadding="5" style="font-family:verdana, sans-serif;font-size:20px">
	<tr><th style="text-align:center">Welcome to FabTab!</th></tr>
	<tr><td style="text-align:center"><%= @user.nickname.capitalize %> has invited you to join FabTab</td></tr>
	<tr><td style="text-align:center">FabTab is your place to tab, save and manage all your offers, coupons, ads and other fab stuff all in one place. You can organize your offers into folders, connect to brands that you love and even see what others are tabbing!</td></tr>
	<tr><td style="text-align:center;"><a href="<%= root_url %>">Join FabTab</a></td></tr>
	<tr><td style="text-align:center">Best wishes from the FabTab team</td></tr>
	<tr><td style="text-align:center"><img src='http://ec2-107-22-153-137.compute-1.amazonaws.com/assets/betalogo1.png' style="display:block;margin-left:auto;margin-right:auto;"></td></tr>
</table>
