<div style="width:650px; margin-left:auto;margin-right:auto;">
	<p style="font-family: verdana, sans-serif;text-align:center;font-size:25px;">Welcome to FabTab!</p>

	<p style="font-family: verdana, sans-serif;text-align:center;font-size:20px;">Please confirm your new account details to access and manage	all your FabTab Offers!</h3>

	<p style="font-family: verdana, sans-serif;text-align:center;font-size:20px;"><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

	<p style="font-family: verdana, sans-serif;text-align:center;font-size:20px;">Best wishes from the FabTab team</p>
	<img src='http://fabtab.com/assets/FabTab-LOGObeta.png' style="width: 220px; height: 70px;display:block;margin-left:auto;margin-right:auto;">
</div>
<%#= Template.last.content %>

testing....