<% if @template.errors.any? %>
  <div id="error_explanation">

    <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="brand_name">*Name</div> <br/>  <%= f.text_field :name %><br/><br/><br/><br/>
<div class="brand_name">*Purpose</div><br/>
<%= f.select(:purpose_id, Purpose.all.map{|p|[p.name, p.id]},:prompt=>"Select one") %>
<br/><br/><br/><br/>

<div class="contect_area">
  <div class="brand_name">Content Area</div><br/>
  <%= f.text_area :content, :style=>"width: 100%;height: 100%;" %>
</div>
<br/><br/>
<style type="text/css">
 .nicEdit-main ol li{
    list-style:  inherit;
  }
 .nicEdit-main ul li{
    list-style:  inherit;
  }
  a:hover {
    color : #8BC541
  }
  a {
    color : #C3C6C5
  }
  .container footer {
    margin-top: 1px;
  }
  .search1 {
    display: none;
  }

  select,input[type="file"]{
    width: 260px;
  }
</style>
