<div class="right-portion">
	<h1 class="title header-font">Invite <span>Friends</span></h1>
</div>
<div class="invite_facebook right-portion">
	<div class="text">
		<%= link_to "Invite Friends using facebook", "https://www.facebook.com/dialog/send?app_id=148204908657714&
		name=FabTab&
		link=http://fabtab.com/&
description="FabTab is your place to save, tag and manage all your offers, coupons and ads in one cool place. You can organize your offers into folders and connect with brands that make your life special. You can even look at what other people are tagging and share their offers and brands"&
		picture=http://fabtab.com/assets/betalogo1.png&redirect_uri=http://fabtab.com", :class => 'btn success large' %>
	</div>
</div>
<div class="invite_email right-portion">
	<div class="text">
		<a data-controls-modal="emailDialog" class="btn success large" data-keyboard="true">Invite via Email</a>
	</div>
	<div id="emailDialog" class="modal" style="margin-top:-130px;margin-left:-222px;">
		<div class="modal-header">
			<a class="close" data-dismiss="emailDialog">&times;</a>
			<h3>Invite Friends</h3>
		</div>
		<div class="modal-body">
			<%= form_tag url_for(:controller => 'users', :action => 'email') do %>
			<div class="field-label">Enter multiple addresses separated by comma</div>
				<%= text_area_tag 'email', '', :placeholder => 'type friends email address', :class =>'email', :style => " font-size: 16px;" %>
				<%= button_tag image_tag('/assets/btn_send.png'), :class => 'invite' %>
			<% end %>
		</div>
	</div>
</div>
  <script type="text/javascript">
    $('.invite').click(function(){
    $('.flash_messages1').fadeIn(2000).delay(5000).fadeOut(5000);
    });
  </script>
