<%= form_for @user, :html => {:id => 'user_new'} do |f| %>
	
	<div class="title">Complete the registration by providing your email address</div>
	<div>
  	<%= f.email_field :email, :class => 'credentials email', :placeholder => 'type email address here' %></div>
  
	<div class="submit"><%= f.submit "Sign Up",  :class => 'login_button', :style=>"margin-left: 262px;" %></div>
<% end %>
