	<div class="myfabtab-help right-portion" style="margin-top:20px;">
  <div class="title header-font" style="margin-top:20px;margin-left:0px;">How to <span>Tab/Save</span> via a website</div>
  <div class="text">
	Install the Tab It! button on your browser toolbar (see Tab It! Button).Click on the Tab It! button and select the fab offer, or ad or product you want to save.
  </div>
  <div class="title header-font" style="margin-top:20px;margin-left:0px;">How to <span>Tab/Save</span>via smart phone</div>
  <div class="text">Download the free FabTab iPhone app and sign in using your existing FabTab account details.Launch the
    app to tab and save QR code offers or run a visual search on any product that you like! You can also take a
    normal picture and save it in your FabTab by turning off Visual Search in Settings.
  </div>
  <div class="title header-font" style="margin-top:20px;margin-left:0px;">What are <span>FabTab folders?</span></div>
  <div class="text">FabTab folders allow you to save and organize all of your fab offers,ads and products. Folders are syncronized between the website
    and smart phone app so you always have them! (You can manually sync both devices using the 'Sync with
    Website' button in Settings)
  </div>
  <div class="title header-font" style="margin-top:20px;margin-left:0px;">How do I share my <span>offers and ads?</span></div>
  <div class="text">
    Select the offer,ad or product in your FabTab folder and use the ‘Share’ button on the mobile app or website to share it via
    Facebook or Twitter.
  </div>
  <div class="title header-font" style="margin-top:20px;margin-left:0px;">How do I get more fab offers from <span>brands?</span></div>
  <div class="text">
    Select the offer,ad or product in your FabTab folder and use the ‘More from brand’ button on the website. This will send a
    message to the brand to let them know you are interested in more fab stuff from them. Once received, the brand will send
    you a special brand folder with loads of unique offers just for you. </div>
  <div class="title header-font" style="margin-top:20px;margin-left:0px;">How do I find offers or ads in <span>my local area?</span></div>
  <div class="text">
    Just turn on the Geo Location and Alert Local Offers buttons in Settings and use the radius
    slider to confirm where you want to receive local offers. You'll then receive alerts when offers are
    available in your area.
  </div>
</div>
