	<div class="tab-it right-portion">
	<h1 class="title header-font">How to use the <span>Tab It! Button</span></h1>
	<div class="text">
          <ol>
          <li style="font-size:18px;line-height: 22px;">1 Open your web browser and make sure you are displaying your Bookmarks by clicking View>Show
	Bookmarks Bar</li>
          <li style="font-size:18px;line-height: 22px;">2 Drag the Tab It! Button below onto your Bookmarks Bar</li>
	 <li style="font-size:18px;line-height: 22px;">3 When you are browsing the web, select the Tab It! Button to tab and save all your fab offers, ads and
	products.</li>
	 <li style="font-size:18px;line-height: 22px;">4 All available images associated with the website being viewed with appear in a FabTab window</li>
	 <li style="font-size:18px;line-height: 22px;">5 Select the offer,ad, or product you want to tab and either save it into one of your existing FabTab folders or create new FabTab folder.</li>
	 <li style="font-size:18px;line-height: 22px;">6 Once tabbed, you can share it with friends or connect to
	your favorite brands for more cool offers.</li>
	 <li style="font-size:18px;line-height: 22px;">7 You can Tab and Save as many things as you want into multiple folders and by using the FabTab smart phone
	app,the folders syncronize when you're away from your computer.</li>
          </ol>
	</div>
	<div id='tab-it-button'><a href="
		javascript: void((function () {
			var e = document.createElement('script');
			e.setAttribute('type', 'text/javascript');
			e.setAttribute('charset', 'UTF-8');
			e.setAttribute('src', 'http://ec2-107-22-153-137.compute-1.amazonaws.com/js/bookmarkads.js');
			document.body.appendChild(e);
		})());
		" class="btn btn-large">Tab It!</a>
	</div>
</div>
