
<div class="content" style="float: none;">
  <%= link_to "Back",  admin_edit_path, :id=>"add_coupan", :style=>"float:right" %>

  <%= form_for(@mpassword,:url=> new_mpassword_path, :method=>'post') do |f| %>
    <% if @mpassword.errors.any? %>
      <% ActionView::Base.field_error_proc = Proc.new do |html_tag, instance|
        errors = Array(instance.error_message).join(',')
        %(#{html_tag}<span class="validation-error">&nbsp;#{errors}</span>).html_safe
      end %>
    <% end %>
    <div class="carousel-refersh-time">Master Password</div>
    <%= f.text_field :mpassword, :style=>'width: 190px;' %>
    <%= f.submit "Save", :id => "add_coupan" %>
  <% end %>

</div>

<style>
  .container footer {
    margin-top: 30px;
  }
</style>