
.delete_ad {
    float:left;
    margin-right:10px;
    background-image:url('/assets/delete_btn.png');
    display:none;
    height:26px;
    width:59px;
    text-indent:-9999px;
}
.delete_ad:hover {
    background-image:url('/assets/delete_hover.png');
}
