
<p style="text-align:center">Hello <%= @resource.email %>!</p>

<p style="text-align:center"><%= @resource.email.split('@')[0] %> has requested a link to change your password, and you can do this through the link below.</p>
<br />
<p style="text-align:center"><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<br />
<p style="text-align:center">If you didn't request this, please ignore this email as your password won't change until you </p>
<p style="text-align:center">access the link above and create a new one.</p>
<br />
<p style="text-align:center">Best wishes from the FabTab team</p>
<br />
<p style="text-align:center">Please click here to unsubscribe and stop receiving these emails </p>
<p style="text-align:center"><img src='http://fabtab.com/assets/betalogo1.png' style="display:block;margin-left:auto;margin-right:auto;"></img></p>

