
<div class="topbar">
	<div class="container">
		<div id='mft_logo' style="margin-left:300px;"><a class="brand" href="/"><%= image_tag '/assets/betalogo1.png' %></a></div>

		<%#= render :partial => 'layouts/navbar' %>
		<%= yield(:toolbar) %>
	</div>
</div>
<div class="container main">
<div class='row'>	
</div>
<div class="flash_messages"><div></div></div>
<%= yield %>
</div>

